$primary: hsl(197, 100%, 70%);

$text-color: hsl(255 - 50, 30%, 58%);
$title-color: hsl(255 - 50, 45%, 78%);

$background: hsl(256 - 50, 23%, 19%);
$background-dark: hsl(254 - 50, 22%, 15%);
$background-light: hsl(256 - 50, 22%, 25%);